<sky-modal>
  <sky-modal-header>Events open for registration</sky-modal-header>
  <sky-modal-content>
    <div class="sky-margin-stacked-xl" *ngIf="events$ | async as events">
      <ol>
        <li *ngFor="let event of events" class="sky-font-emphasized">
          {{ event.name }}
        </li>
      </ol>
    </div>

    <p>
      A real application that persisted settings could use this modal to toggle whether the events were actually open for registration;
      It would then only show events to potential participants that were open for registration.
    </p>
  </sky-modal-content>
  <sky-modal-footer>
    <button class="sky-btn sky-btn-link" type="button" (click)="instance.cancel()">
      Close
    </button>
  </sky-modal-footer>
</sky-modal>
