<sky-modal>
  <sky-modal-header>Events open for registration</sky-modal-header>
  <sky-modal-content>
    @if (events$ | async; as events) {
      <div class="sky-margin-stacked-xl">
        <ol>
          @for (event of events; track event.id) {
            <li class="sky-font-emphasized sky-margin-stacked-separate">
              {{ event.name }}
              <button class="sky-btn sky-btn-default" type="button" (click)="register(event)">
                Register
              </button>
            </li>
          }
        </ol>
      </div>
    }
  </sky-modal-content>
  <sky-modal-footer>
    <button class="sky-btn sky-btn-link" type="button" (click)="instance.cancel()">
      Close
    </button>
  </sky-modal-footer>
</sky-modal>
